In [6]:
import numpy as numpy
import pandas as pandas

## Series / Seriler

In [7]:
myDictionary = {"Atil" : 50,"Zeynep":40,"Mehmet" :30}

In [8]:
pandas.Series(myDictionary)

Atil      50
Zeynep    40
Mehmet    30
dtype: int64

In [9]:
type(pandas.Series(myDictionary))

pandas.core.series.Series

In [10]:
myAges = [50,40,30]
myNames = ["Atil","Zeynep","Mehmet"]

In [11]:
pandas.Series(myAges)

0    50
1    40
2    30
dtype: int64

In [12]:
pandas.Series(myAges,myNames)

Atil      50
Zeynep    40
Mehmet    30
dtype: int64

In [13]:
pandas.Series(data=myAges,index=myNames)

Atil      50
Zeynep    40
Mehmet    30
dtype: int64

In [14]:
numpyArray = numpy.array([50,40,30])

In [15]:
numpyArray

array([50, 40, 30])

In [17]:
pandas.Series(numpyArray)

0    50
1    40
2    30
dtype: int32

In [18]:
pandas.Series(numpyArray,myNames)

Atil      50
Zeynep    40
Mehmet    30
dtype: int32

## Pandas Series Features

In [19]:
pandas.Series(["Atil","Atlas","Osman"])

0     Atil
1    Atlas
2    Osman
dtype: object

In [20]:
pandas.Series(["Atil","Atlas","Osman"],[1,2,3])

1     Atil
2    Atlas
3    Osman
dtype: object

In [22]:
competitionResult1 = pandas.Series([10,5,1],["Atil","Atlas","Osman"])

In [23]:
competitionResult1

Atil     10
Atlas     5
Osman     1
dtype: int64

In [24]:
competitionResult2= pandas.Series([20,10,8],["Atil","Atlas","Osman"])

In [25]:
competitionResult2

Atil     20
Atlas    10
Osman     8
dtype: int64

In [28]:
competitionResult2["Atil"]

20

In [29]:
lastResult = competitionResult1 + competitionResult2

In [31]:
lastResult

Atil     30
Atlas    15
Osman     9
dtype: int64

In [32]:
differentSeries1 = pandas.Series([20,30,40,50],["a","b","c","d"])

In [33]:
differentSeries2 = pandas.Series([10,5,3,1],["a","c","f","g"])

In [34]:
differentSeries1 + differentSeries2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64